body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

header img {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto;
}

#balance {
  margin-top: 10px;
}

#channels {
  margin-top: 20px;
  text-align: center;
}

.channel {
  display: block;
  margin-bottom: 10px;
}

.channelButton {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto 5px;
}

.updateButton {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 auto;
  cursor: pointer;
}

#adBanner {
  margin-top: 20px;
  text-align: center;
}

#adBanner img {
  max-width: 100%;
  max-height: 100px;
}
